@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}

.main {
  background-image: url("../assets/img-pattern.svg");
}

/* Heading Start */

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 10px;
  flex-direction: column;
  background-image: url("../assets/background1.jpg");
  /* background-color: "#8a0221"; */
}

.container1:hover {
  background-image: url("../assets/background3.jpg");
  /* background-color: "#6E011A"; */
  transition: all 0.5s;
}

h1 {
  color: white;
}

/* Heading End */

/* Content Section Start */

/* Content Section End */
